# Analyzing Students' Mental Health in SQL

This survey was conducted in 2018 at an international Japanese university and the associated study was published in 2019. It was approved by several ethical and regulatory boards.

The study found that international students have a higher risk of mental health difficulties compared to the general population, and that social connectedness and acculturative stress are predictive of depression.

Social connectedness: measure of belonging to a social group or network.

Acculturative stress: stress associated with learning about and intergrating into a new culture.

[See paper for more info, including data description.](https://www.mdpi.com/2306-5729/4/3/124/htm)

[Link to the data.](https://www.mdpi.com/2306-5729/4/3/124/s1)

## Inspect the Data

Our data is in a table that includes all of the survey data. There are 50 fields and according to the paper, 268 records.    Each row is a student.

1. Check if data has 268 records

In [1]:
-- Count the number of records in the data
SELECT COUNT(*) AS total_records 
FROM students;

   total_records
0            286

2. Inspect the dataset to see what the fields look like

In [10]:
-- Inspect the data and limit the output to 5 records
SELECT *
FROM students
LIMIT 5;

  inter_dom region  gender academic  ...  religion_bi  alone_bi  others_bi internet_bi
0     Inter    SEA    Male     Grad  ...           No        No         No          No
1     Inter    SEA    Male     Grad  ...           No        No         No          No
2     Inter    SEA    Male     Grad  ...           No        No         No          No
3     Inter     EA  Female     Grad  ...           No        No         No          No
4     Inter     EA  Female     Grad  ...          Yes        No         No          No

[5 rows x 50 columns]

3. How many international and domestic students are in teh data set?

In [3]:
-- Count the number of international and domestic stundets
SELECT inter_dom, COUNT(inter_dom) AS cout_inter_dom
FROM students
GROUP BY inter_dom

  inter_dom  cout_inter_dom
0       Dom              67
1                        18
2     Inter             201

4. Looking into the 18 unsassigned rows to understand what they could be.

In [4]:
-- Query data to see all records where inter_dom is neither 'Dom' or 'Inter'
Select *
FROM students
Where inter_dom NOT LIKE 'D%' AND inter_dom NOT LIKE 'I%';

    inter_dom  region  gender  ...  alone_bi  others_bi  internet_bi
0         NaN     NaN     NaN  ...       NaN        NaN          NaN
1         NaN     NaN     NaN  ...       NaN        NaN          NaN
2         NaN     NaN     NaN  ...       NaN        NaN          NaN
3         NaN     NaN     NaN  ...       NaN        NaN          NaN
4         NaN     NaN     NaN  ...       NaN        NaN          NaN
5         NaN     NaN     NaN  ...       NaN        NaN          NaN
6         NaN     NaN     NaN  ...      65.0       21.0         45.0
7         NaN     NaN     NaN  ...     203.0      247.0        223.0
8         NaN     NaN     NaN  ...       NaN        NaN          NaN
9         NaN     NaN     NaN  ...      65.0       21.0         45.0
10        NaN     NaN     NaN  ...     203.0      247.0        223.0
11        NaN     NaN     NaN  ...       NaN        NaN          NaN
12        NaN     NaN     NaN  ...       NaN        NaN          NaN
13        NaN     NaN     NaN  ...       NaN        NaN          NaN
14        NaN     NaN     NaN  ...       NaN        NaN          NaN
15        NaN     NaN     NaN  ...       NaN        NaN          NaN
16        NaN     NaN     NaN  ...       NaN        NaN          NaN
17        NaN     NaN     NaN  ...       NaN        NaN          NaN

[18 rows x 50 columns]

5. Where are the international students from?

In [5]:
-- See what Region international students aer from
SELECT "region", COUNT(inter_dom) AS count_inter_dom
FROM students
WHERE inter_dom = 'Inter'
GROUP BY "region";

   region  count_inter_dom
0      SA               18
1      EA               48
2     JAP                2
3  Others               11
4     SEA              122

6. Finding the minimum, maximum and average of each of the diagnostic tests(PHQ-9, SCS, ASISS).

In [6]:
-- Find out the basic summary statistics of the diagnostics tests for all the students
SELECT MIN(ToDep) AS min_phq,
       MAX(ToDep) AS max_phq,
       ROUND(AVG(ToDep), 2) AS avg_phq,
       MIN(ToSC) AS min_scs,
       MAX(ToSC) AS max_scs,
       ROUND(AVG(ToSC), 2) AS avg_scs,
       MIN(ToAS) AS min_as,
       MAX(ToAS) AS max_as,
       ROUND(AVG(ToAS), 2) AS avg_as
FROM students;

   min_phq  max_phq  avg_phq  min_scs  max_scs  avg_scs  min_as  max_as  avg_as
0        0       25     8.19        8       48    37.47      36     145   72.38

7. WHat are the summary statistics for domestic students and international students?

In [1]:
SELECT inter_dom,
       MIN(ToDep) AS min_phq,
       MAX(ToDep) AS max_phq,
       ROUND(AVG(ToDep), 2) AS avg_phq,
       MIN(ToSC) AS min_scs,
       MAX(ToSC) AS max_scs,
       ROUND(AVG(ToSC), 2) AS avg_scs,
       MIN(ToAS) AS min_as,
       MAX(ToAS) AS max_as,
       ROUND(AVG(ToAS), 2) AS avg_as
FROM students
WHERE inter_dom IN ('Inter', 'Dom')
GROUP BY inter_dom;

  inter_dom  min_phq  max_phq  avg_phq  ...  avg_scs  min_as  max_as  avg_as
0     Inter        0       25     8.04  ...    37.42      36     145   75.56
1       Dom        0       23     8.61  ...    37.64      36     112   62.84

[2 rows x 10 columns]

# Internation Focus

The study found that international students presented a hagher risk of having mental health difficulties. Recall, the data is also skewed towards international students. Let's take a close look at the this student group

8. How does the age of international student impact the scores?

In [3]:
-- The average score of each age group of international students in order
SELECT age,
	    ROUND(AVG(ToDep), 2) AS avg_phq,
		ROUND(AVG(ToSC), 2) AS avg_scs,
		ROUND(AVG(ToAS), 2) AS avg_as
FROM students
WHERE inter_dom = 'Inter'
GROUP BY age
ORDER BY age

    age  avg_phq  avg_scs  avg_as
0    17     4.67    37.33   70.67
1    18     8.75    34.11   80.61
2    19     8.44    37.90   74.10
3    20     7.35    38.21   73.26
4    21     9.23    37.74   75.23
5    22     8.36    38.14   70.43
6    23     9.67    32.00   81.25
7    24     4.67    42.33   74.33
8    25     6.11    37.33   80.78
9    27    10.00    35.00   42.00
10   28     3.33    39.00   71.00
11   29     3.75    43.00   63.50
12   30     9.33    41.00   97.33
13   31     5.75    43.50   80.25

9. How does the gender of international student impact the scores?

In [6]:
-- The average score of each gender group of international students in order
SELECT gender,
	    ROUND(AVG(ToDep), 2) AS avg_phq,
		ROUND(AVG(ToSC), 2) AS avg_scs,
		ROUND(AVG(ToAS), 2) AS avg_as
FROM students
WHERE inter_dom = 'Inter'
GROUP BY gender
ORDER BY gender

   gender  avg_phq  avg_scs  avg_as
0  Female     8.37    36.93   78.20
1    Male     7.48    38.27   70.95

10. How does the the lengthof say for international student impact the scores?

In [7]:
SELECT stay,
	    ROUND(AVG(ToDep), 2) AS avg_phq,
		ROUND(AVG(ToSC), 2) AS avg_scs,
		ROUND(AVG(ToAS), 2) AS avg_as
FROM students
WHERE inter_dom = 'Inter'
GROUP BY stay
ORDER BY stay

   stay  avg_phq  avg_scs  avg_as
0     1     7.48    38.11   72.80
1     2     8.28    37.08   77.67
2     3     9.09    37.13   78.00
3     4     8.57    33.93   87.71
4     5     0.00    34.00   91.00
5     6     6.00    38.00   58.67
6     7     4.00    48.00   45.00
7     8    10.00    44.00   65.00
8    10    13.00    32.00   50.00

Explore and analyze the students data to see how the length of stay (stay) impacts the average mental health diagnostic scores of the international students present in the study.

Return a table with nine rows and five columns.

The five columns should be aliased as: stay, count_int, average_phq, average_scs, and average_as, in that order.

The average columns should contain the average of the todep (PHQ-9 test), tosc (SCS test), and toas (ASISS test) columns for each length of stay, rounded to two decimal places.

The count_int column should be the number of international students for each length of stay.

Sort the results by the length of stay in descending order.

In [8]:
SELECT 
	stay, 
	COUNT(*) as count_int, 
	ROUND(AVG(todep), 2) as average_phq, 
	ROUND(AVG(tosc), 2) as average_scs, 
	ROUND(AVG(toas), 2) as average_as
FROM students
WHERE inter_dom = 'Inter'
GROUP BY stay
ORDER BY stay DESC

   stay  count_int  average_phq  average_scs  average_as
0    10          1        13.00        32.00       50.00
1     8          1        10.00        44.00       65.00
2     7          1         4.00        48.00       45.00
3     6          3         6.00        38.00       58.67
4     5          1         0.00        34.00       91.00
5     4         14         8.57        33.93       87.71
6     3         46         9.09        37.13       78.00
7     2         39         8.28        37.08       77.67
8     1         95         7.48        38.11       72.80